<h3 class="text-center">Контактная информация</h3>

<div class="contact-form">
  <form method="post" action="?page=contacts">
    <table>
      <tr>
        <td> <label for="phone">Телефон: </label></td>
        <td><input type="phone" name="phone" id="phone" value="{{contacts.phone}}" /></td>
      </tr>

      <tr>
        <td><label for="email">Email: </label></td>
        <td><input type="email" name="email" id="email" value="{{contacts.email}}" /></td>
      </tr>
      <tr>
        <td><label for="city">Город: </label></td>
        <td><input type="text" name="city" id="city" value="{{contacts.city}}" /> </td>
      </tr>
      <tr>
        <td><label for="street">Улица: </label></td>
        <td><input type="text" name="street" id="street" value="{{contacts.street}}" /></td>
      </tr>
      <tr>
        <td><label for="house">Дом: </label></td>
        <td><input type="text" name="house" id="house" value="{{contacts.house}}" /></td>
      </tr>
      <tr>
        <td><label for="whatsapp">Whatsapp: </label></td>
        <td><input type="text" name="whatsapp" id="whatsapp" value="{{contacts.whatsapp}}" /></td>
      </tr>
      <tr>
        <td><label for="telegram">Telegram: </label></td>
        <td><input type="text" name="telegram" id="telegram" value="{{contacts.telegram}}" /></td>
      </tr>
      <tr>
        <td><label for="vk">Вконтакте: </label></td>
        <td><input type="text" name="vk" id="vk" value="{{contacts.vk}}" /></td>
      </tr>
      <tr>
        <td><label for="instagram">Instagram: </label></td>
        <td><input type="text" name="instagram" id="instagram" value="{{contacts.instagram}}" /></td>
      </tr>
      <tr>
        <td><label for="time1">Время работы 1: </label></td>
        <td><input type="text" name="time1" id="time1" value="{{contacts.time1}}" /></td>
      </tr>
      <tr>
        <td><label for="time2">Время работы 2: </label></td>
        <td><input type="text" name="time2" id="time2" value="{{contacts.time2}}" /></td>
      </tr>
    </table>
    <input type="submit" value="Сохранить" />
  </form>
</div>


<style>
  .contact-form {
    width: 100%;
  }

  .contact-form input,
  textarea {
    width: 100%;
  }
</style>