<h3 class="text-center">Отзывы</h3>
<table class="col-12">
  <tr>
    <th>Статус</th>
    <th>Дата</th>
    <th>Имя</th>
    <th>Email</th>
    <th>Продукт</th>
    <th>Оценка</th>
    <th>Назавание</th>
    <th>Отзыв</th>
  </tr>

  {% for feedback in feedbacks %}
  {% if feedback.allow %}
  <tr class="allow">
    <td><a href="?page=feedbacks&act=drop&id={{ feedback.id }}">Запретить</a></td>
    {% else %}
    <tr class="drop">
      <td> <a href="?page=feedbacks&act=allow&id={{ feedback.id }}">Разрешить</a></td>
    {% endif %}
    <td> {{ feedback.date }} </td>
    <td> {{ feedback.user }} </td>
    <td> {{ feedback.email }} </td>
    <td> {{ feedback.product }} </td>
    <td> {{ feedback.rating }} </td>
    <td> {{ feedback.title }} </td>
    <td> {{ feedback.text }} </td>
  </tr>
  {% endfor %}
</table>

<style>
  .allow {
    background-color: lightgreen;
  }
  .drop {
    background-color: #ccc;
  }
</style>