<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Админка</title>
  <link rel="stylesheet" href="style/style.css">
  <script src="js/jquery-3.4.1.min.js"></script>
</head>

<body>
  <header>
    <h1>Административная панель</h1>
  </header>
  <main class="container">
    <div class="row">
      <nav class="col-12">
        {% if isAdmin %}
        <a class="menu-link" href="?page=login&act=exit">Выход</a>
        <a class="menu-link" href="?page=pass">Смена пароля</a>
        <a class="menu-link" href="index.php">Каталог</a>
        <a class="menu-link" href="?page=orders">Заказы</a>
        <a class="menu-link" href="?page=categories">Категории товаров</a>
        <a class="menu-link" href="?page=contacts">Мои контакты</a>
        {% endif %}
      </nav>
