

<h3 class="text-center">Смена пароля</h3>
<div class="login-form">
    <form method="post" action="?page=pass&act=change">
      <label for="login">Логин: </label><input type="text" name="login" id="login" required/><br />
      <label for="old">Пароль: </label><input type="password" name="old" id="old" required/><br />
      <label for="new">Новый пароль: </label><input type="password" name="new" id="new" required/><br />
      <label for="con">Подтверждение: </label><input type="password" name="con" id="con" required/><br />
      <input type="submit" value="Сменить пароль" />
    </form>
  </div>
